body{
    font-family:sans-serif;
    background-color:blanchedalmond;

}
.bio {
    text-align: center;
}
hr {
    border: 1px solid;
    
    
}
a:visited{
    color: brown;
}
h2{
    text-decoration: underline;
}


